
nav {
    height: 60px;
    border-radius: 10px;
    flex-shrink: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 2rem;
}

nav ul {
    display: flex;
}

nav ul li {
    
    font-size: 25px;
    list-style: none;
    
}

nav ul li a {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: block;
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 0.5rem;
    margin: 0 0.5rem;
    border-radius: 0.5rem;
    
}